<% include partials/header %>

   <div class='container my-5'>
      <a class='btn btn-link' href='/'>‹‹ Go Home</a>
      <h1><%= site.toUpperCase() %></h1>


      <% data.types.forEach(function(type) { %> <% // saved, default and deleted %>

         <div class='result-type' data-category='<%= type %>'> 
            <%= // type container %>
            <h3 class='text-center'> <%= type[0].toUpperCase() + type.substring(1)%></h3> 

               <% data.cities.forEach(function(city) { %>
                  <% var delClass = type === 'deleted' ? 'd-none deleted-results': '' %>
                  <% if(delClass) { %>
                     <h3 class='text-muted'>
                        <%= city %>
                     </h3>
                     <button class='toggle-hidden-next btn btn-secondary'>&#9660</button>
                  <% } %>
                  <ul class='list-group <%= delClass %>' data-city='<%= city %>'>
                     <li class='list-group-item row text-center py-2 text-muted' >
                        <h4><%= city %> 
                           (<span class='counter'><%= results[type][city] ? results[type][city].length : 0 %></span>)
                        </h4>
                     </li>
                     <% if(results[type][city]) { %>
                        <% results[type][city].forEach(function(result) { %>
                        <li class='list-group-item row position-relative' tabindex='-1'>
                           <a class='col-xs-8 result-item' href='<%= result.url %>' target='_blank'>
                              <%= result.title %>
                           </a>

                           <div class="position-absolute btn-group func-btns" role="group" aria-label="Basic example" data-id='<%= result._id%>'>
                              <%- btnGroups[type] %>
                           </div>
                        </li>
                        <% }) %>
                     <% } %>
                  </ul>
               <% }) %>


         </div>
         
      <% }) %>
      
   </div>
<% include partials/footer %>





















