<% include partials/header %>

   <div class='container my-5'>
      <a class='btn btn-link' href='/'>‹‹ Go Home</a>
      <div class='status'>
         <h2 class='mb-0' >Live search status</h2>
         <table class='table table-bordered my-5 row-margin'>
            <tr>
               <th class='bg-light'>Site</th>
               <th>Keywords</th>
               <th>Location</th>
               <th>Page</th>
            </tr>
            <% data.sites.forEach(function(site) { %>
               <tr data-site='<%= site%>'>
                  <td class='bg-light'><%= site%></td>
                  <td data-status='keyword'></td>
                  <td data-status='location'></td>
                  <td data-status='page'></td>
               </tr>
            <% }); %>
         </table>
      </div>
      <div class='row'>
         <ul class='list-group mb-5 col-md' id='keywords'>
            <h2>Keywords</h2>
            <% data.keywords.forEach(function(keyword) { %>
               <li class='list-group-item px-1 position-relative py-2' data-item='<%= keyword %>'>
                  <span class='item-text'><%=keyword%></span>
                  <button class='remove-item btn btn-danger position-absolute absolute-right'>
                     <i class='fa fa-trash'></i>
                  </button>
               </li>
            <% }) %>
         </ul>
         <ul class='list-group mb-5 col-md' id='cities'>
            <h2>Locations</h2>
            <% data.cities.forEach(function(city) { %>
               <li class='list-group-item px-1 position-relative py-2' data-item='<%= city %>'>
                  <span class='item-text'><%=city%></span>
                  <button class='remove-item btn btn-danger position-absolute absolute-right'>
                     <i class='fa fa-trash'></i>
                  </button>
               </li>
            <% }) %>
         </ul>
      </div>

      <div class="alert alert-danger alert-dismissible show error-container d-none" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <span class='error-message'></span>
      </div>




      <div class='border p-2 row-margin'> 
         <% var runClass = runState ? 'led-green' : 'led-red';%>
         <p>
         Running state:
            <span class='led <%= runClass%> state-display'>
            <span class='state-text'>
               <% if(runState) {%> 
                  Running
               <% } else {%>
                  Stopped
               <% } %>
            </span>
            <span class='led-body'></span>
         </p>
            <p class='text-muted'>The service must be stopped in order to modify the data</p>
         </span>
         <div class='btn-group start-stop'>
            <button class='btn btn-danger stop'>STOP</button>
            <button class='btn btn-success start'>START</button>  
         </div>
      </div>


      <div class='my-5 py-3 px-2 border row-margin'>
         <h2>Add value</h2>

         <form class='modify-form' method='POST' action='/update?_method=PUT&add=true' data-add='true'>
            <div class='form-group'>
               <label for='name'>Type</label> 
               <select class='form-control' name='type' id='name'>
                  <option value='keywords'>Keyword</option>
                  <option value='cities'>Location</option>
               </select>
            </div>
            <div class='form-group'>
               <label for='value'>Type</label> 
               <input class='form-control' type='text' id='value' name='value' placeholder='New value to add.'  required>
            </div> 
            <!--minlength='1' maxlength='60' -->
            <input class='btn btn-primary' type='submit'>



         </form>
      </div>

   </div>

   <script>
      var runState = {
         value: <%= runState %>
      };
   </script>
   <script src='/js/settings.js'></script>


<% include partials/footer %>
