<% include partials/header-top %>
<% title = 'Settings' %>
<% include partials/header-bottom %>

   <nav class='container my-5'>
      <a class='btn btn-link' href='/'>‹‹ Go Home</a>
   </nav>

   <main class='container my-5'>
      
      <!-- Live status update -->
      <section class='status'>
         <h1 class='mb-0 h2 row-margin' >Live search status</h1>
         <table class='table table-bordered my-5 row-margin'>
            <!-- Table headers -->
            <tr>
               <th cldataass='bg-light'>Site</th>
               <th>Query</th>
               <th>Location</th>
               <th>Page</th>
            </tr>
            <!-- site specific row -->
            <% sites.forEach(function(site) { %>
               <tr data-site='<%= site%>'>
                  <td class='bg-light'><%= site%></td>
                  <td data-status='query'></td>
                  <td data-status='location'></td>
                  <td data-status='page'></td>
               </tr>
            <% }); %>
         </table>
      </section>

      <!-- The data which is used for the search -->
      <section>
         <h1 class='h2 row-margin'>Search Data</h1>
         <div class='row'>
            <% var types = ['queries', 'locations'] %>
            <% types.forEach(function(type) { %>
            <!-- Individual list -->
            <ul class='list-group mt-2 mb-5 col-md' id='<%= type %>'>
                  <h2><%= type[0].toUpperCase() + type.substring(1) %></h2>
                  <% data[type].forEach(function(currentType) { %>
                     <li class='list-group-item px-1 position-relative py-2' data-item='<%= currentType %>'>
                        <span class='item-text'><%=currentType %></span>
                        <button class='remove-item btn btn-danger position-absolute absolute-right'>
                           <i class='fa fa-trash'></i>
                        </button>
                     </li>
                  <% }) %>
               </ul>
            <% }) %>
         </div>
      </section>

      <!-- Error messaging -->
      <div class="alert alert-danger alert-dismissible show error-container d-none" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         <span class='error-message'></span>
      </div>


      <!-- Run state display & change -->
      <section class='border p-2 row-margin'> 
         <h1 class='d-inline h6'>Running state:</h1>
         <% var runClass = runState ? 'led-green' : 'led-red' %>
         <% var runText = runState ? 'Running' : 'Stopped' %>
         
         <div class='led <%= runClass %> state-display'>
            <span class='state-text'><%= runText %></span>
            <span class='led-body'></span>
         </div>

         <p class='text-muted'>The service must be stopped in order to modify the data</p>

         <div class='btn-group start-stop'>
            <button class='btn btn-danger stop'>STOP</button>
            <button class='btn btn-success start'>START</button>  
         </div>

      </section>

      <!-- Add value form -->
      <section class='my-5 py-3 px-2 border row-margin'>
         <h1 class='h2'>Add value</h1>

         <form class='modify-form' method='POST' action='/update?_method=PUT&add=true' data-add='true'>
            <div class='form-group'>
               <!-- Type select -->
               <label for='type'>Type</label> 
               <select class='form-control' name='type' id='type'>
                  <option value='queries'>Query</option>
                  <option value='locations'>Location</option>
               </select>
            </div>
            <!-- Value textbox -->
            <div class='form-group'>
               <label for='value'>Value</label> 
               <input class='form-control' type='text' id='value' name='value' placeholder='New value to add.'  minlength='1' maxlength='60' pattern='(.*?){1,60}' required>
            </div> 
            <input class='btn btn-primary' type='submit'>
         </form>
      </section>

   </main>

   <script>
      var runState = { value: <%= runState %> };
   </script>
   <script src='/js/settings.js'></script>


<% include partials/footer %>